/* Color Theme Swatches in Hex */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

/* define the font in body because 'inheritance' it
 will pass it down to all child elements */
body {
  padding: 30px; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  color: #383D45; }

.heading-primary {
  color: #D7D8D8;
  text-align: right;
  font-family: "Nunito Sans", "Montserrat", sans-serif; }
  .heading-primary--main {
    padding-right: 20vw;
    font-size: 5rem; }
  .heading-primary--sub {
    padding-right: 5vw;
    font-size: 1.6rem; }

.heading-secondary {
  font-family: "Nunito Sans", "Montserrat", sans-serif;
  font-size: 3rem;
  text-transform: lowercase;
  color: #20558F;
  font-weight: 600;
  margin-bottom: 2rem; }

.heading-tertiary {
  font-family: "Nunito Sans", "Montserrat", sans-serif;
  font-size: 2rem;
  color: #294076;
  font-weight: 500;
  text-transform: lowercase; }

.text-normal {
  color: #383D45;
  font-size: 1.6rem; }
  .text-normal__small {
    font-size: 1rem;
    margin-top: 1rem; }

.button-normal {
  font-size: 1.7rem;
  font-weight: 500;
  padding: 0.5rem;
  margin-left: 12rem;
  width: 31rem;
  border-radius: 60px;
  background-color: #8FBDD8;
  color: #294076;
  transition: all 0.2s;
  box-shadow: 0 1rem 2rem rgba(41, 64, 118, 0.2); }
  .button-normal:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 2rem 3rem rgba(56, 61, 69, 0.2); }
  .button-normal:active {
    box-shadow: 0 0.5rem 1rem rgba(41, 64, 118, 0.2);
    transform: translateY(0rem); }

img.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: right;
  width: 500px; }
  @media only screen and (max-width: 900px) {
    img.sticky {
      float: right;
      width: 30%; } }

.header {
  background-image: linear-gradient(to bottom, #294076, #20558f, #20558f, #8fbdd8, #f2f2f2);
  height: 20rem;
  padding-top: 6rem; }

.mboard {
  background: #F2F2F2;
  z-index: -1;
  padding: 5rem; }
  .mboard--input {
    font-size: 1.5rem; }
    .mboard--input__row {
      display: flex;
      padding: 0.5rem; }
    .mboard--input__title {
      text-align: right;
      width: 10rem;
      padding-right: 2rem;
      text-transform: lowercase; }
    .mboard--input__textbox {
      font-size: 1.3rem;
      color: #294076;
      width: 30rem;
      padding: .3rem 1rem;
      border-radius: 4px; }
    .mboard--input__commentBox {
      height: 20rem; }

.comment {
  margin: 10rem 6rem;
  border-bottom: 1px solid #294076;
  padding: 3rem; }
  .comment__row {
    display: flex; }
  .comment__header {
    width: 10rem;
    text-align: right; }
  .comment__content {
    text-align: left;
    padding-left: 3rem;
    width: 40rem; }
  @media only screen and (max-width: 600px) {
    .comment__row {
      display: inline-block; }
    .comment__content {
      width: 100%; } }
