.button-normal {
    font-size: 1.7rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-left: 12rem;
    width: 31rem;
    border-radius: 60px;
    background-color: $color-blue-light;
    color: $color-blue-dark;
}