//styling for the blue header at the top of each page

.header{
    background-image: linear-gradient(
        to bottom,
        rgba($color-blue-medium, 1),
        rgba($color-blue-medium, 1),
        rgba($color-blue-medium, 0.7),
        rgba($color-blue-medium, 0)
        );
    height: 20rem;
    padding-top: 6rem;
}

