//styling for the blue header at the top of each page

.header{
    background-image: linear-gradient(
        to bottom,
        rgba($color-blue-dark, 1),
        rgba($color-blue-medium, 1),
        rgba($color-blue-medium, 1),
        rgba($color-blue-light, 1),
        rgba($color-off-white, 1)
        );
    height: 20rem;
    padding-top: 6rem;
}

