body{
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    color: $color-black;
}

.heading-primary{
    color: $color-grey;
    text-align: right; 

    &--main{
        padding-right: 20vw;
        font-size: 5rem;
    }

    &--sub{
        padding-right: 5vw;
        font-size: 1.6rem;
    }
}

.heading-secondary {
    font-size: 2rem;

}